<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.2.25123" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Text.Data" version="14.2.25123" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="14.2.25123" targetFramework="net452" />
</packages>